<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="10013"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    android:versionName="v1.0-14pre">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <!-- uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" / -->

    <application
        android:name=".ImapNotes3"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:theme="@style/ImapNotesTheme">

        <activity
            android:name=".ListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- ToDo intent-filter>
                    <action android:name="android.intent.action.SEND" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <data android:mimeType="image/*" />
                </intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <!-- What is this meta-data for?  There doesn't seem to be any code that uses it -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".AccountConfigurationActivity"
            android:exported="true"
            android:parentActivityName="de.niendo.ImapNotes3.ListActivity">
            <!-- What is this meta-data for?  There doesn't seem to be any code that uses it -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.niendo.ImapNotes3.ListActivity" />
        </activity>

        <activity
            android:name=".NoteDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="de.niendo.ImapNotes3.ListActivity">
            <!-- What is this meta-data for?  There doesn't seem to be any code that uses it -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.niendo.ImapNotes3.ListActivity" />
        </activity>

        <service
            android:name="de.niendo.ImapNotes3.Sync.ImapNotesAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <!-- What is this meta-data for?  There doesn't seem to be any code that uses it -->
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- TODO: What is StubProvider for?  This is the only reference to it.
         Also AndroidDom Inspection complains about it not being public, yet the application still
         works.-->
        <!--suppress AndroidDomInspection -->
        <provider
            android:name="de.niendo.ImapNotes3.Sync.StubProvider"
            android:authorities="de.niendo.ImapNotes3.provider"
            android:exported="false" />

        <service
            android:name="de.niendo.ImapNotes3.Sync.SyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <!-- What is this meta-data for?  There doesn't seem to be any code that uses it -->
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>
</manifest>
